@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


.neutral-500{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.neutral-600{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
}

.font-bold {
    font-family: 'Roboto';
    font-weight: 500;
}

.font-mininum {
    font-size: 13px;
}
.grey{
    color: #737373;
}
.black{
    color:black;
}
.green{
    color: #006611;
}
.font-15{
    font-size:15px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-24{
    font-size: 24px;
}
.font-big{
    font-size: 17px;
}